.header {
    display: grid;
    grid-template-columns: repeat(1, 750px);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header div {
    margin-top: -2px;
    border-radius: 5px 0 5px 0px;
}

.content {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1.25rem;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 500px) {
    .header {
        display: flex;
    }

    .content {
        display: flex;
        overflow-y: auto;
        padding: 0 1.25rem;
    }
}
