.box {
    background-color: #bffff9;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10rem;
    min-width: 5rem;
    position: relative;
}

.box-container {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    margin: 0;
}

.text {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .box {
        max-width: 80%;
        min-height: 15rem;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .box-container {
        display: flex;
    }
}

.box span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
