.box {
    border-radius: 5px;
    position: relative;
    background-color: #0099ff2f;
}

.box-container {
    padding: 1.25rem;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.timezone {
    color: #000;
    justify-content: flex-start;
    display: flex;
    font-size: 1.25rem;
}

.clock {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}
.text {
    color: #000;
    justify-content: flex-start;
    display: flex;
    font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
    .box {
        padding: 1.25rem;
    }

    .box-container {
        display: flex;
    }
}

.box span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem;
    cursor: pointer;
    color: #000;
}
