input {
  order: 2;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: 37px;
  height: 34px;
  font-size: 16px;
}

div {
  order: 4;
}
